Package: com.insanj.tranquil
Name: Tranquil
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Serenity in alarms.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
